# ignore
**/.*
**/build
**/dist
**/*.egg-info
**/*.html
**/*.md
**/*.npy
**/*.pdf
**/*.png
**/__pycache__
**/*.sh

# except
!**/polar40_L159.npy
!**/theta30-60_phi30-60_L159.npy
!**/trans_dd_L32_alpha3pi4_beta1pi8.npy
