# ignore
**/.*
**/build
**/dist
**/*.egg-info
**/*.html
**/*.md
**/*.npy
**/*.pdf
**/*.png
**/__pycache__
**/*.sh

# except
!**/polar40_L32/*
!**/theta30-60_phi30-60_L32.npy
!**/trans_dd_L128_alpha3pi4_beta1pi8.npy
