__pycache__
_version.py
.coverage*
.DS_Store
.envrc
.hypothesis
.mypy_cache
.pytest_cache
.tox
.vscode
*.c
*.egg-info
*.html
*.mat
*.npy
*.pdf
*.png
*.pyc
*.so
*.tmp
build
Coeff_Height_and_Depth_to2190_DTM2006.0
default.profraw
dist
EGM2008_to2190_TideFree
EGM2008_to2190_ZeroTide
sleplet-*
