__pycache__
_version.py
.coverage*
.DS_Store
.envrc
.hypothesis
.mypy_cache
.pytest_cache
.tox
.vscode
*.aux
*.c
*.egg-info
*.fdb_latexmk
*.fls
*.html
*.ipynb*
*.log
*.mat
*.npy
*.pdf
*.png
*.pyc
*.so
*.synctex.gz
*.tmp
build
Coeff_Height_and_Depth_to2190_DTM2006.0
default.profraw
dist
EGM2008_to2190_TideFree
EGM2008_to2190_ZeroTide
sleplet-*
!slepian_wavelet_coefficients_homer_3B_2jmin_2j_zoom.png
!slepian_wavelets_south_america_3B_2jmin_2j_L128_res512_real.png
