black
cmocean
flake8
gmpy2
hypothesis
isort
matplotlib
multiprocess
mypy
numba>=0.53.0rc1
numpy
pandas
plotly
pre-commit
psutil
pys2let
pyssht
pytest
python-box[toml]
requests
scipy
seaborn
setuptools
tbb
