cmocean==2.0
gmpy2==2.1.2
hypothesis==6.39.4
kaleido==0.2.1
matplotlib==3.5.1
multiprocess==0.70.12.2
numba==0.55.1
numpy<1.22
pandas==1.4.1
plotly==5.6.0
pre-commit==2.17.0
psutil==5.9.0
pys2let==2.2.4
pyssht==1.5.1
pytest==7.1.1
python-box[toml]==6.0.1
requests==2.27.1
scipy==1.8.0
seaborn==0.11.2
setuptools==60.10.0
