---
name: Deploy

on:
  push:
    branches:
      - main
      - renovate/**
    tags:
      - v*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
        with:
          python-version: 3.13

      - name: Install dependencies
        shell: bash
        run: uv sync --only-dev

      - name: Build distributions
        shell: bash
        run: uv run python -m build

      - name: Upload distribution
        # yamllint disable-line rule:line-length
        uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2

  deploy-test-pypi:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Download distributions
        # yamllint disable-line rule:line-length
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: Packages
          path: dist

      - name: Publish package to TestPyPI
        # yamllint disable-line rule:line-length
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

  deploy-pypi:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Download distributions
        # yamllint disable-line rule:line-length
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: Packages
          path: dist

      - name: Publish package to PyPI
        # yamllint disable-line rule:line-length
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          verbose: true
