---
name: Deploy

on:
  push:
    branches:
      - main
      - renovate/**
    tags:
      - v*
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/python/deployment@a572508d17fc531e8ad9c0389c0fe51d522b2204 # v0
        with:
          pyproject-toml: ./pyproject.toml
          python-version: "3.13"
