name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: paddyroddy/.github/actions/python/deployment@d847296ec70e63ba26408f9b354de8a40ce2f006 # v0
        with:
          pypi-api-token: ${{ secrets.PYPI_API_TOKEN }}
          pyproject-toml: ./pyproject.toml
          python-version: "3.11"
          test-pypi-api-token: ${{ secrets.TEST_PYPI_API_TOKEN }}
