---
name: Deploy

on:
  push:
    branches:
      - main
      - renovate/**
    tags:
      - v*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5
        with:
          python-version: "3.13"
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        shell: bash
        run: python -m pip install build

      - name: Build distributions
        shell: bash
        run: python -m build

      - name: Upload distribution
        # yamllint disable-line rule:line-length
        uses: hynek/build-and-inspect-python-package@b5076c307dc91924a82ad150cdd1533b444d3310 # v2

  deploy-test-pypi:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Download distributions
        # yamllint disable-line rule:line-length
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4
        with:
          name: Packages
          path: dist

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

  deploy-pypi:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Download distributions
        # yamllint disable-line rule:line-length
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4
        with:
          name: Packages
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
