name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: paddyroddy/.github/actions/python/deployment@0860bb5de5029a6ef6adbd1da9655eafc9c8231f # v0
        with:
          pypi-api-token: ${{ secrets.PYPI_API_TOKEN }}
          pyproject-toml: ./pyproject.toml
          python-version: "3.11"
          test-pypi-api-token: ${{ secrets.TEST_PYPI_API_TOKEN }}
