---
name: Deploy

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/python/deployment@512a88ef0d35d185588d460030660a184fc2db36 # v0
        with:
          pyproject-toml: ./pyproject.toml
          python-version: "3.11"
