name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: paddyroddy/.github/actions/python/deployment@a5fa225f79b16f86bd36bbaf64d0efa9b5f6a78a # v0
        with:
          pypi-api-token: ${{ secrets.PYPI_API_TOKEN }}
          pyproject-toml: ./pyproject.toml
          python-version: "3.11"
          test-pypi-api-token: ${{ secrets.TEST_PYPI_API_TOKEN }}
