---
name: Deploy

on:
  push:
    branches:
      - main
      - renovate/**
    tags:
      - v*
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/python/deployment@3135c318562994eafc62974821c6f80aa64b35da # v0
        with:
          pyproject-toml: ./pyproject.toml
          python-version: "3.11"
