---
name: Update Copyright

on:
  schedule:
    - cron: 0 3 1 1 *

jobs:
  update-licence-year:
    runs-on: ubuntu-slim
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/licence@fc1f4d5abb1562679c33f38faf171f5cfc81c969 # v0
        with:
          licence-file: ./LICENCE.txt
          licence-token: ${{ secrets.LICENCE_PAT }}
