---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-slim
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/linting@fc1f4d5abb1562679c33f38faf171f5cfc81c969 # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml

      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/vale@fc1f4d5abb1562679c33f38faf171f5cfc81c969 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
