---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/linting@7ee4f9acacd0d57c3edaed533f34abe4ecb4fbff # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml

      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/vale@7ee4f9acacd0d57c3edaed533f34abe4ecb4fbff # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
