---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/linting@6630dca9555ad0bcebc93e0d9177aa416991fc97 # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml
