---
name: Paper

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  paper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Build draft PDF
        # yamllint disable-line rule:line-length
        uses: openjournals/openjournals-draft-action@85a18372e48f551d8af9ddb7a747de685fbbb01c # v1.0
        with:
          journal: joss
          paper-path: paper/paper.md

      - name: Upload
        # yamllint disable-line rule:line-length
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: paper
          path: paper/paper.pdf
