name: Test

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**.md"
      - "paper/**"

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        os: [ubuntu-latest]
        include:
          - os: macos-latest
            python-version: "3.11"
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Cache tox/pooch
        uses: actions/cache@v3
        with:
          path: |-
            .tox
            ~/.cache/sleplet
          key: test-${{ hashFiles('pyproject.toml') }}

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: Install dependencies
        run: python -m pip install tox tox-gh-actions

      - name: Test with tox
        run: tox

      - name: Coverage
        uses: coverallsapp/github-action@v2
