---
name: Test

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/python/uv@fc1f4d5abb1562679c33f38faf171f5cfc81c969 # v0
        with:
          cache-path: ~/.cache/sleplet
          pyproject-toml: ./pyproject.toml
          python-version: ${{ matrix.python-version }}

      - name: Coveralls Parallel
        # yamllint disable-line rule:line-length
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
        with:
          flag-name: run-${{ matrix.os }}-${{ matrix.python-version }}
          parallel: true

  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        # yamllint disable-line rule:line-length
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
        with:
          parallel-finished: true
          carryforward: "\
            run-macos-latest-3.11,\
            run-ubuntu-latest-3.11,\
            run-macos-latest-3.12,\
            run-ubuntu-latest-3.12,\
            run-macos-latest-3.13,\
            run-ubuntu-latest-3.13"
