name: Test

on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - name: Checkout source
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Cache tox/pooch
        uses: actions/cache@v3
        with:
          path: |-
            .tox
            ~/.cache/sleplet
          key: test-${{ hashFiles('pyproject.toml') }}

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: Install dependencies
        run: python -m pip install tox tox-gh-actions

      - name: Test with tox
        run: tox run
        env:
          OS: ${{ matrix.os }}

      - name: Coverage
        uses: coverallsapp/github-action@v2
